
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Factura/Factura.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Factura/Factura.js"></script>

</head>
<body>
    <div ng-app="MyApp" ng-controller="MyController">


        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Concepto</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Concepto</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Concepto">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Monto</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Monto</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Monto">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">RFC</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">RFC</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="RFC">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Direccion</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Direccion</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Direccion">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <button type="button" class="btn btn-primary" ng-click="GuardarFactura()">Guardar</button>
        </div>

    </div>

</body>
</html>